{% extends 'layouts/default.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
        <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
{% endblock styles %}
{% block body %}

    <div class="container">
        <div class="wrapper">
            <div class="login" style="  background-color: rgb(17, 105, 105); ">
                <form method="POST" action="/register/" id="formularRegister">
                    <input type="hidden" name="goal" value="connexion">
                    <img src="{{url_for('static', filename='img/undraw_male_avatar_323b.svg')}}" alt="" width="100px" height="100px" style="margin-left: 40% !important;margin-right: 40% !important;">

                    <div class="form-group row">
                        {{register.hidden_tag()}}
                        {{wtf.form_field(register.username)}}
                    </div><br>
                    <div class="form-group row">
                       {{wtf.form_field(register.email)}}
                    </div>
                     <div class="form-group row">
                       {{wtf.form_field(register.Password)}}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" id="sendlogin" style="text-align:center;"> Login</button>
                </form>
            </div>
            <div class="info" style="border-radius: 1px;">
                <p><img src="{{url_for('static', filename='img/undraw_checkacound.svg')}}" style="width: 100%;height:100%" alt=""></p>
            </div>
        </div>
    </div>
{% endblock body %}


<script src="url_for('static',filename='js/register.js')"></script>

